{% extends 'base.html.twig' %}

{% block body %}

    <form method="post" action="{{ path('admin_app_fichier') }}" enctype="multipart/form-data">
        <input type="file" name="fileCsv">
        <button value="btnCsv" type="submit">Import CSV</button>
    </form>
{% endblock %}

{% block title %}
    {{ parent() }} | Insertion par fichier
{% endblock %}

