{% extends 'base.html.twig' %}

{% block body %}

    <form method="post" action="{{ path('app_fichier') }}">
        <input name="fileCsv" type="file">
        <label for="fileCsv">
            Importer un fichier
        </label>
        <button value="btnCsv" type="submit">Import CSV</button>
    </form>
{% endblock %}

{% block title %}

{% endblock %}

