{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Enregistrer un utilisateur{% endblock %}

{% block body %}
    <main class="container-fluid">
        <h1>Enregistrer</h1>

        {{ form_start(registrationForm) }}
           {{ form_widget(registrationForm) }}
            <button class="btn btn-primary">Enregistrer</button> <button class="btn btn-primary">Import CSV</button>
        {{ form_end(registrationForm) }}
    </main>
{% endblock %}
