{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Envoi email modification mot de passe{% endblock %}

{% block body %}
    <p>
        Si votre adresse e-mail éxiste, un e-mail vous sera envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas d'e-mail, veuillez vérifier vos spam dans votre boite de réception ou <a href="{{ path('motDePasseOublie') }}">Essayez encore</a>.</p>

{% endblock %}
