img {
    max-width: 150px;
}

nav ul {
    display: flex;
    list-style: none;
    padding-right: 1rem;
    padding-top: 1rem;
}

nav li {
    margin-right: 1rem;
}

a {
    color: white;
    text-decoration: none;
}
a:hover{
    color: black;
}

form > label {
    display: block;
    margin-top: 1rem;
}

input,
textarea,
select, .custom-file {
    margin-bottom: 1rem;
    box-sizing: border-box;

}

.logForm{
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: auto;
}


footer{
    display: block;
    text-align: center;
    background: rgba(255, 255, 255, 0.51);
}
header{
    margin-top: 1em;
    margin-bottom: 3em;
    margin-left: 1em;
    display: flex;
    justify-content: space-between;
}
.logoEni{
    width: 100%;
}
.navBarre{
    width: 100%;
}
.avatar{
    border: 1px solid #999999;
    border-radius: 5px;
}

body{
    background: rgb(2,0,36);
    background: radial-gradient(farthest-corner at 100% 100%, rgba(2,0,36,1) 0%, rgb(199, 199, 199) 34%, rgb(0, 89, 59) 100%);
    background-attachment: fixed;
}





/*------- Page création sortie   */

.formulaireCreationSortie {
    width: 50rem;
    margin: 0 auto;
}

#titreCréerSortie{
    text-align: center;
}
.btnSortie{
    justify-content: space-between;
    height: 3rem;
    display: flex;
    margin: 0 auto;
}
.btnSortiePublier{
    margin-left: 5rem;
    width: 50rem;
}
.btnSortieCreer{
    width:50rem ;
}

/* -- Tableau --*/

table{
    margin: 2em;
}

th, td{
    border: black solid 2px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}

.affichageArticle{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

span{
    margin-right: 10px;
}

.descrText{
    text-align: justify;
}