img {
    max-width: 150px;
}

nav ul {
    display: flex;
    list-style: none;
    padding-right: 1rem;
    padding-top: 1rem;
}

nav li {
    margin-right: 1rem;
}

label {
    display: block;
    margin-top: 1rem;
}

input,
textarea,
select, .custom-file {
    margin-bottom: 1rem;
    box-sizing: border-box;

    max-width: 50%;
}

.logForm{
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: auto;
}

footer{
    display: block;
    text-align: center;
    margin-top: 5rem;
}
header{
    margin-top: 1em;
    margin-bottom: 3em;
    margin-left: 1em;
    display: flex;
    justify-content: space-between;
}
.logoEni{
    background-image: url(../photo/sortir.png);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
}
.navBarre{
    width: 80%;
}
.avatar{
    border: 1px solid #999999;
    border-radius: 5px;
}

body{
    background: rgb(2,0,36);
    background: radial-gradient(farthest-corner at 100% 100%, rgba(2,0,36,1) 0%, rgb(199, 199, 199) 34%, rgb(0, 89, 59) 100%);
    background-attachment: fixed;
}
