{% extends 'base.html.twig' %}




{% block body %}


    <div>
        {{ form_start(cancelForm) }}
        {{ form_widget(cancelForm) }}
        <a href="{{ path('sortie_liste') }}">Annuler</a>
        <button name="enregistrer" value="annuler">Effacer sortie</button>
        {{ form_end(cancelForm) }}
    </div>

{% endblock %}