{% extends 'base.html.twig' %}


{% block title %} {{ parent() }} | Ajouter une ville {% endblock %}

{% block body %}

    <main class="container-fluid">
        <h1 class="titreFormulaire">Ajouter une ville</h1>

        <div>
            {{ form_start(villeForm) }}
            {{ form_widget(villeForm) }}
            <div>
                <button name="cree" class="btn btn-primary" value="cree">Ajouter une ville</button>
            </div>
            {{ form_end(villeForm) }}
        </div>
    </main>

{% endblock %}