{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Ajouter un lieu {% endblock %}

{% block body %}
    <main class="container-fluid">

        <h1 class="titreFormulaire">Ajouter un lieu</h1>
        <div>
            {{ form_start(lieuForm) }}
            {{ form_widget(lieuForm) }}
            <button class="btn btn-primary" name="cree" value="cree">Ajouter un lieu</button>
            {{ form_end(lieuForm) }}
        </div>
    </main>
{% endblock %}