{% extends 'base.html.twig' %}



{% block body %}

<div>
       {{ form_start(sortieForm) }}
        {{ form_widget(sortieForm) }}
        <button>Créer</button>
        <a href="{{ path('sortie_SortiePublish') }}">Publier la sortie</a>
        {{ form_end(sortieForm) }}
</div>

{% endblock %}