{% extends 'base.html.twig' %}
{% block body %}

    <main class="container-fluid">
        <div>
            {{ form_start(sortieForm) }}
            {{ form_widget(sortieForm) }}
            <button name="publier" value="publier" class="btn btn-primary">Publier une sortie</button>
            <a class="btn btn-primary" href="javascript:history.go(-1)">Retour</a>
            {{ form_end(sortieForm) }}
        </div>
    </main>

{% endblock %}


{% block title %}
    {{ parent() }} | Publier une sortie
{% endblock %}



