<table>
    <thead>
        <tr>
            <th>Pseudo</th>
            <th>Nom</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for participant in listeParticipants %}
                {{ participant.username }}
            {% endfor %}

                <td>

                </td>
                <td>

                </td>

        </tr>
    </tbody>
</table>