<nav>
    <ul>
        <li>
            <a>Villes</a>
        </li>
        <li>
            <a>Campus</a>
        </li>
        <li>
            <a>Accueil</a>
        </li>
        <li>
            <a>Mon profil</a>
        </li>
        <li>
            <a>se déconnecter</a>
        </li>
    </ul>

</nav>

