<nav>
    <ul>
        {% if is_granted("ROLE_ADMIN") %}
        <li>
            <a href="#">Villes</a>
        </li>
        <li>
            <a href="#">Campus</a>
        </li>
        {% endif %}
        {% if app.user %}
        <li>
            <a href="{{ path('sortie_liste') }}">Accueil</a>
        </li>
        <li>
            <a href="{{ path('user_editProfile') }}">Mon profil</a>
        </li>

        <li>
            <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </li>
        {% endif %}
        {% if not app.user %}
        <li>
            <a href="{{ path('app_login') }}">Se connecter</a>
        </li>
        {% endif %}
    </ul>

</nav>

